{% extends '../base.html' %}

{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<style>

    i{
        color: #1dca34;
    }

	p{
		color: #fff;
	}

</style>



<div class="card">
    <div class="card-header">
        <h2>Senha Redefinida <i class="far fa-check-circle"></i></h2>
    </div>

    <div class="card-body">
            <p>Você pode prosseguir e se autenticar agora.</p>
    </div>

    <div class="card-footer">
        <div class="d-flex justify-content-center links">
            <a href="{% url 'contas:login' %}"><i class="fa-solid fa-arrow-right-to-bracket"></i> Ir para Login</a>
        </div>
    </div>

</div>

{% endblock %}