{% extends '../base.html' %}

{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}

	<style>

	.msg_erros{
		color: rgb(201, 115, 16);
	}

	</style>

			<div class="card">
				<div class="card-header">
					<h2>Recuperar Senha</h2>
				</div>

				<div class="card-body">
					{% if messages %}
						<div class="msg_erros">
							{% for message in messages %}
								{% if forloop.first %}
									{{ message }}
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
					<form method="post">
						{% csrf_token %}
                
           
						<div>{{ form.email }}<div>

						<div class="form-group">
							<button type="submit" class="btn btn-primary">Recuperar</button>
						</div>

					</form>
				</div>

				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						<a href="{% url 'contas:login' %}"><i class="fa-solid fa-arrow-right-to-bracket"></i> Ir para Login</a>
					</div>
				</div>

			</div>

{% endblock %}
